# 9TH HOUR — apps/api environment variables
PORT=4000
MONGODB_URI=
FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY=
INTERNAL_COMMUNICATION_KEY=
PAYSTACK_SECRET_KEY=
FLW_SECRET_KEY=
FLW_SECRET_HASH=
AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
RESEND_API_KEY=
